// Layout
//--------------------------------------------------

.content-area,
.widget-area {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@media( min-width: 992px ) {
    .content-area-lsidebar,
    .content-area-rsidebar,
    .lsidebar,
    .rsidebar {
        float: left;
    }

    .content-area-lsidebar,
    .content-area-rsidebar {
        width: 70%;
    }

    .lsidebar,
    .rsidebar {
        width: 30%;
    }

    .content-area-lsidebar {
        left: 30%;
    }

    .lsidebar {
        right: 70%;
    }
}

@media( min-width: 1200px ) {
    .content-area-lsidebar,
    .content-area-rsidebar {
        width: 75%;
    }

    .lsidebar,
    .rsidebar {
        width: 25%;
    }

    .content-area-lsidebar {
        left: 25%;
    }

    .lsidebar {
        right: 75%;
    }
}

@media( min-width: 1280px ) {
    .container {
        width: 1200px;
    }
}

// Back to top
//--------------------------------------------------

.backtotop {
    border: 1px solid;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    line-height: 46px;
    text-align: center;
    font-size: 28px;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    right: -48px;
    bottom: 20px;
    @include transition( all 240ms );

    &.active {
        visibility: visible;
        opacity: 1;
        right: 20px;
    }
}

// Common posts/page
//--------------------------------------------------

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.entry-title{
}

.entry-meta {

}

.entry-featured {

}