// Layout
//--------------------------------------------------
.content-area {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.widget-area {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.site-content{
    .content-has-sidebar{
        width: 70%;
    }
    .widget-has-sidebar{
        width: 30%;
    }
}

// Back to top
//--------------------------------------------------

.backtotop {
    border: 1px solid;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    line-height: 46px;
    text-align: center;
    font-size: 28px;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    right: -48px;
    bottom: 20px;
    @include transition( all 240ms );

    &.active {
        visibility: visible;
        opacity: 1;
        right: 20px;
    }
}

// Common posts/page
//--------------------------------------------------

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-content {
    margin: 1.5em 0 0;
}

.entry-title{
}

.entry-meta {

}

.entry-featured {

}