// Layout
//--------------------------------------------------

.content-area,
.widget-area {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@media( min-width: 992px ) {
    .content-area-lsidebar,
    .content-area-rsidebar,
    .lsidebar,
    .rsidebar {
        float: left;
    }

    .content-area-lsidebar,
    .content-area-rsidebar {
        width: 70%;
    }

    .lsidebar,
    .rsidebar {
        width: 30%;
    }

    .content-area-lsidebar {
        left: 30%;
    }

    .lsidebar {
        right: 70%;
    }
}

@media( min-width: 1200px ) {
    .content-area-lsidebar,
    .content-area-rsidebar {
        width: 75%;
    }

    .lsidebar,
    .rsidebar {
        width: 25%;
    }

    .content-area-lsidebar {
        left: 25%;
    }

    .lsidebar {
        right: 75%;
    }
}

@media( min-width: 1280px ) {
    .container {
        width: 1200px;
    }
}

// Page header
//--------------------------------------------------

.page-header-container {
    @include display( flex );
    @include flex-direction( row );
    @include flex-wrap( nowrap );
    @include align-items( center );

    &:before {
        content: '';
        display: block;
        min-height: 320px;
    }
}

.page-header-content {
    width: 100%;
    text-align: center;
    padding: 80px 15px;
}

// Back to top
//--------------------------------------------------

.backtotop {
    border: 1px solid;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    line-height: 46px;
    text-align: center;
    font-size: 28px;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    right: -48px;
    bottom: 20px;
    @include transition( all 240ms );

    &.active {
        visibility: visible;
        opacity: 1;
        right: 20px;
    }
}

// Common posts/page
//--------------------------------------------------

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.entry-title,
.page-title {
    word-wrap: break-word;
}

.entry-meta {

}

.entry-featured {

}

// Breadcrumbs
//--------------------------------------------------

.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        vertical-align: middle;

        &:after {
            content: '/';
            margin-left: 5px;
            margin-right: 5px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}