// Links
//--------------------------------------------------

a {
    color: $primary_color;
    &:hover,
    &:focus {

    }

    &:visited {
        
    }

    &:hover,
    &:focus,
    &:active {
        
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}

a.backtotop {

}

// Main Navigation
//--------------------------------------------------

.main-navigation {

}

@media( max-width: 991px ) {
    .main-navigation {
        background-color: #fff;
        box-shadow: 0px 1px 4px rgba( 0, 0, 0, 0.25 );
        padding: 15px;
        position: absolute;
        z-index: 99;
        top: 150%;
        bottom: auto;
        left: 0;
        right: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: all 240ms;
        

        &.active {
            visibility: visible;
            opacity: 1;
            overflow: auto;
            top: 100%;
        }
    }
}

// Primary menu
//--------------------------------------------------

.primary-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        overflow: hidden;
        a {
            display: block;
        }

        &:hover,
        &.focus {

        }
    }
    > li {
        > a {

        }
    }

    .sub-menu {
        list-style: none;
        margin: 0;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {

    }

    @media( max-width: 991px ) {
        text-align: left;

        .sub-menu {
            position: relative;
            padding-left: 20px;
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            @include transition( all 240ms );
        }

        li.focus {
            > .sub-menu {
                visibility: visible;
                opacity: 1;
                max-height: none;
                overflow: visible;
            }
        }
    }

    @media( min-width: 992px ) {
        > li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
        }

        .sub-menu {
            position: absolute;
            padding: 12px 0;
            top: 100%;
            left: 0;
            margin-top: 15px;
            min-width: 200px;
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            box-shadow: 0px 1px 3px 0px rgba( 0, 0, 0, 0.25 );
            @include transition( all 240ms );

            li {
                a {
                    padding: 4px 16px;
                }
            }

            .sub-menu {
                top: 0;
                left: 100%;
            }
        }

        li:hover,
        li.focus {
            overflow: visible;
            > .sub-menu {
                visibility: visible;
                opacity: 1;
                margin-top: 0;
            }
        }
    }
}

// Primary menu on mobile
//--------------------------------------------------

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

.menu-toggle {
    width: 44px;
    height: 44px;
    border: 2px solid;
    position: relative;
    cursor: pointer;
}
.menu-toggle-icon {
    display: block;
    width: 20px;
    height: 0;
    border-top: 1px solid;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    

    &:before,
    &:after {
        content: '';
        display: block;
        border: inherit;
        position: relative;
    }

    &:before {
        bottom: 6px;
    }

    &:after {
        top: 3px;
    }
}

@media screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

// Other common navigations
//--------------------------------------------------

.post-navigation,
.posts-navigation,
.comment-navigation {
    .nav-links {

    }

    a {

    }

    .nav-link-title {

    }

    .nav-previous {

    }

    .nav-next {

    }
}

.posts-pagination {
    .posts-page-links {

    }

    .page-numbers {

    }

    a.page-numbers {

    }
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;

    .page-link-text {

    }

    a {
        
    }
}
