// Common posts/page
//--------------------------------------------------

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-content {
  margin: 1.5em 0 0;
}

.entry-title{
}

.entry-meta {

}

.entry-featured {

}