// Default single entry
//--------------------------------------------------

.single-hentry {

}

// Single post entry
//--------------------------------------------------

.single-hentry.post {

}

// Single page entry
//--------------------------------------------------

.single-hentry.page {

}

// Author box
//--------------------------------------------------


// Related Posts...
//--------------------------------------------------
