.widget {
    margin: 0 0 1.5em;

    select {
        max-width: 100%;
    }
}

.widget-title {

}

// Common widget styling
//--------------------------------------------------

.widget_archive,
.widget_categories,
.widget_pages,
.widget_nav_menu
.widget_meta,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss {

}

.widget_categories,
.widget_pages,
.widget_nav_menu {
    ul ul ul ul ul {
        padding-left: 0;
    }
}

// Archive widget
//--------------------------------------------------

.widget_archive {

}

// Categories widget
//--------------------------------------------------

.widget_categories {
    .current-cat > a,
    .current-cat-parent > a,
    .current-cat-ancestor > a {

    }
}

// Pages widget
//--------------------------------------------------

.widget_pages {
    .current_page_item > a,
    .current_page_parent > a,
    .current_page_ancestor > a {

    }
}

// Nav menu widget
//--------------------------------------------------

.widget_nav_menu {
    .current-menu-item > a,
    .current-menu-parent > a,
    .current-menu-ancestor > a {
        
    }
}

// Meta widget
//--------------------------------------------------

.widget_meta {

}

// Recent comments widget
//--------------------------------------------------

.widget_recent_comments {
    .recentcomments {
        > a {
            &:before {
                content: '\A';
                white-space: pre;
            }
        }
    }
}

// Recent posts widget
//--------------------------------------------------

.widget_recent_entries {

}

// RSS widget
//--------------------------------------------------

.widget_rss {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .rsswidget {
        font-weight: 700;
        display: inline-block;
    }

    .rss-date {
        font-size: 0.875em;
        font-style: italic;
        display: block;
    }

    cite {
        font-weight: 700;
        font-size: 0.875em;
    }
}

// Text widget
//--------------------------------------------------

.widget_text {

}

// Calendar widget
//--------------------------------------------------

.widget_calendar {
    th, td {
        text-align: center;
    }
}

// Tag cloud widget
//--------------------------------------------------

.widget_tag_cloud {

}