button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  display: inline-block;
  @include border-radius(0);
  color: #fff;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  @include transition(all 0.3s);
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #232927!important;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: thin dotted;
  outline-offset: -4px;
}

/* CMS Button */
.btn {
  font-family: 'Source Sans Pro', sans-serif;
  background: #ccc;
  display: inline-block;
  @include border-radius(0);
  color: #fff;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;

  .fa-left{
    padding-right: 10px;
  }
  .fa-right{
    padding-left: 10px;
  }

  &:hover{

  }
  &.center{
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Safari */
    transform: translateX(-50%);
  }

  &.btn-small{
    padding: 10px 15px;
  }

  &.btn-large{
    padding: 15px 35px;
  }

  &.btn-line{
    border: 2px solid #d5d5d5;
    color: #3b3b3b;
    background: transparent;
  }
}