/* Loadign */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}

// Layout
//--------------------------------------------------
.content-area {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.widget-area {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.site-content{
    .content-has-sidebar{
        width: 70%;
    }
    .widget-has-sidebar{
        width: 30%;
    }
}