// Common posts/page
//--------------------------------------------------

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.page .content-area{
  padding-top: 50px;
  padding-bottom: 50px;
}

.updated:not(.published) {
  display: none;
}

.entry-title{
}

.entry-meta {

}

.entry-featured {

}

.format-gallery{
  .entry-featured{
    position: relative;
    .owl-next, .owl-prev{
      background: #ccc;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      position: absolute;
      &:hover{
        background: #000;
        color: #fff;
      }
    }
    .owl-next{
      right: 0;
      top: 50%;
      margin-top: -15px;
    }
    .owl-prev{
      left: 0;
      top: 50%;
      margin-top: -15px;
    }
  }
}