/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base
# Forms
# Header
# Navigations
# Modules
# Widgets
# Common Content
# Media
# Loops
# Singular
# Comments
# Footer
# Custom
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize. Delete this line and _normalize.scss if you are
# using Bootstrap. Bootstrap itself already have normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #fff; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.875em;
  line-height: 1.4;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9375em; }

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  max-width: 100%; }

figure {
  margin: 1em 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold;
  text-transform: uppercase; }

td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
::-webkit-input-placeholder {
  color: #8a8a8a; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #8a8a8a; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #8a8a8a; }

:-ms-input-placeholder {
  color: #8a8a8a; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border: none;
  border: 1px solid #e1e1e1;
  color: #8a8a8a;
  padding: 12px;
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  border: 1px solid #232927;
  outline: 0; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  display: inline-block;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #fff;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #232927 !important; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: thin dotted;
  outline-offset: -4px; }

/* CMS Button */
.btn {
  font-family: 'Source Sans Pro', sans-serif;
  background: #ccc;
  display: inline-block;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #fff;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px; }
  .btn .fa-left {
    padding-right: 10px; }
  .btn .fa-right {
    padding-left: 10px; }
  .btn.center {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    /* IE 9 */
    -webkit-transform: translateX(-50%);
    /* Safari */
    transform: translateX(-50%); }
  .btn.btn-small {
    padding: 10px 15px; }
  .btn.btn-large {
    padding: 15px 35px; }
  .btn.btn-line {
    border: 2px solid #d5d5d5;
    color: #3b3b3b;
    background: transparent; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-branding {
  padding: 1em 0; }

.site-title {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0; }

.site-description {
  font-size: 0.875em;
  margin: 0; }

.site-logo {
  display: block; }
  .site-logo img {
    max-height: 100px; }

.site-logo-sticky {
  display: none; }
  .site-logo-sticky img {
    max-height: 100px; }

.headroom--not-top {
  background: #ccc; }
  .headroom--not-top .site-logo {
    display: none; }
  .headroom--not-top .site-logo-sticky {
    display: block; }

.site-header {
  position: relative;
  z-index: 999; }

#header-search {
  position: relative; }
  #header-search .searchform {
    display: none; }
    #header-search .searchform.active {
      display: block; }
  #header-search .searchform {
    background: #fff;
    width: 260px;
    display: none;
    position: absolute;
    z-index: 999;
    padding: 15px;
    right: 0;
    top: 50px; }

#header-cart {
  position: relative; }
  #header-cart .cartform {
    display: none; }
    #header-cart .cartform.active {
      display: block; }
  #header-cart .cartform {
    background: #fff;
    width: 260px;
    display: none;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 50px; }
  #header-cart .widget_shopping_cart {
    margin: 0;
    padding: 15px; }
    #header-cart .widget_shopping_cart p {
      margin-bottom: 0; }

.main-header {
  padding: 2em 0;
  position: relative; }

/**
 * headroom
 */
#headroom {
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 9999; }

.headroom--pinned {
  display: block; }

.headroom--not-top {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0; }

.headroom--unpinned {
  display: none; }

.headroom {
  will-change: transform;
  transition: transform 200ms linear; }

.headroom--pinned {
  transform: translateY(0%); }

.headroom--unpinned {
  transform: translateY(-100%); }

.headroom--pinned #header-middle {
  display: none; }

.admin-bar .headroom--not-top {
  top: 32px; }

/*--------------------------------------------------------------
# Main Menu
--------------------------------------------------------------*/
@media (max-width: 991px) {
  .main-navigation {
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 99;
    padding: 15px 20px;
    top: 150%;
    bottom: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 240ms; }
    .main-navigation.active {
      visibility: visible;
      opacity: 1;
      overflow: auto;
      top: 100%; } }
.primary-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .primary-menu li {
    position: relative;
    overflow: hidden; }
    .primary-menu li a {
      display: block;
      padding: 10px 15px; }
  .primary-menu .sub-menu {
    list-style: none;
    margin: 0; }
  @media (max-width: 991px) {
    .primary-menu {
      text-align: left; }
      .primary-menu .sub-menu {
        position: relative;
        padding-left: 20px;
        visibility: hidden;
        opacity: 0;
        display: none;
        overflow: hidden;
        -webkit-transition: all 240ms;
        -khtml-transition: all 240ms;
        -moz-transition: all 240ms;
        -ms-transition: all 240ms;
        -o-transition: all 240ms;
        transition: all 240ms; }
        .primary-menu .sub-menu.submenu-open {
          visibility: visible;
          opacity: 1;
          height: auto; }
      .primary-menu li.focus > .sub-menu {
        visibility: visible;
        opacity: 1;
        max-height: none;
        overflow: visible; } }
  @media (min-width: 992px) {
    .primary-menu > li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px; }
    .primary-menu .sub-menu {
      position: absolute;
      background: #fff;
      padding: 12px 0;
      top: 100%;
      left: 0;
      margin-top: 15px;
      min-width: 200px;
      z-index: 99;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
      -webkit-transition: all 240ms;
      -khtml-transition: all 240ms;
      -moz-transition: all 240ms;
      -ms-transition: all 240ms;
      -o-transition: all 240ms;
      transition: all 240ms; }
      .primary-menu .sub-menu li a {
        padding: 4px 16px; }
      .primary-menu .sub-menu .sub-menu {
        top: 0;
        left: 100%; }
    .primary-menu li:hover,
    .primary-menu li.focus {
      overflow: visible; }
      .primary-menu li:hover > .sub-menu,
      .primary-menu li.focus > .sub-menu {
        visibility: visible;
        opacity: 1;
        margin-top: 0; } }

@media screen and (max-width: 991px) {
  #main-menu-mobile .btn-nav-mobile {
    color: #282828;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms; }
    #main-menu-mobile .btn-nav-mobile::after {
      -webkit-transition: all 300ms linear 0ms;
      -moz-transition: all 300ms linear 0ms;
      -ms-transition: all 300ms linear 0ms;
      transition: all 300ms linear 0ms;
      content: "";
      background-color: #282828;
      display: block;
      height: 2px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 22px; }
    #main-menu-mobile .btn-nav-mobile:before {
      -webkit-transition: all 300ms linear 0ms;
      -moz-transition: all 300ms linear 0ms;
      -ms-transition: all 300ms linear 0ms;
      transition: all 300ms linear 0ms;
      content: "";
      background-color: #282828;
      display: block;
      height: 2px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 22px;
      top: 9px; }
    #main-menu-mobile .btn-nav-mobile .opened:before {
      top: 15px;
      transform: rotate(45deg); }
    #main-menu-mobile .btn-nav-mobile opened:after {
      -webkit-transform: rotate(-45deg);
      -khtml-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 15px; }

  #site-navigation.navigation-open {
    opacity: 1;
    visibility: visible;
    top: 81px; }

  .main-menu-toggle {
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
    cursor: pointer;
    display: inline-block;
    height: 19px;
    line-height: 19px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    width: 19px; }

  .main-menu-toggle:before, .main-menu-toggle:after {
    content: "";
    position: absolute;
    background-color: #222; }

  .main-menu-toggle:before {
    height: 9px;
    width: 1px;
    top: 5px;
    left: 9px; }

  .main-menu-toggle:after {
    height: 1px;
    width: 9px;
    left: 5px;
    top: 9px; } }
@media screen and (min-width: 992px) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* add class back when submenu out body */
ul.back {
  right: 100%;
  left: auto !important; }

/*--------------------------------------------------------------
# Page Title & Breadcrumb
--------------------------------------------------------------*/
#pagetitle {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ccc; }

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0; }
  .breadcrumb li {
    display: inline-block;
    vertical-align: middle; }
    .breadcrumb li:after {
      content: '/';
      margin-left: 5px;
      margin-right: 5px; }
    .breadcrumb li:last-child:after {
      display: none; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
a {
  color: #32a0df; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }
  .screen-reader-text:focus {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #000;
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

.alignleft,
.alignright,
.aligncenter {
  margin-bottom: 1em; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em; }
  .widget select {
    max-width: 100%; }

.widget_categories ul ul ul ul ul,
.widget_pages ul ul ul ul ul,
.widget_nav_menu ul ul ul ul ul {
  padding-left: 0; }

.widget_recent_comments .recentcomments > a:before {
  content: '\A';
  white-space: pre; }

.widget_rss ul {
  list-style: none;
  padding: 0; }
.widget_rss li {
  margin-bottom: 16px; }
  .widget_rss li:last-child {
    margin-bottom: 0; }
.widget_rss .rsswidget {
  font-weight: 700;
  display: inline-block; }
.widget_rss .rss-date {
  font-size: 0.875em;
  font-style: italic;
  display: block; }
.widget_rss cite {
  font-weight: 700;
  font-size: 0.875em; }

.widget_calendar th, .widget_calendar td {
  text-align: center; }

/*--------------------------------------------------------------
# Common Content
--------------------------------------------------------------*/
.content-area {
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }

.widget-area {
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }

.site-content .content-has-sidebar {
  width: 70%; }
.site-content .widget-has-sidebar {
  width: 30%; }

.backtotop {
  border: 1px solid;
  width: 48px;
  height: 48px;
  border-radius: 3px;
  line-height: 46px;
  text-align: center;
  font-size: 28px;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: -48px;
  bottom: 20px;
  -webkit-transition: all 240ms;
  -khtml-transition: all 240ms;
  -moz-transition: all 240ms;
  -ms-transition: all 240ms;
  -o-transition: all 240ms;
  transition: all 240ms; }
  .backtotop.active {
    visibility: visible;
    opacity: 1;
    right: 20px; }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-content {
  margin: 1.5em 0 0; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

embed,
iframe,
object {
  max-width: 100%; }

.custom-logo-link {
  display: inline-block; }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    padding: 0.8075em 0;
    font-size: 0.875em;
    font-style: italic; }

.wp-caption-text {
  text-align: center; }

.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Singlular
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.bottom-footer {
  padding: 2em 0;
  text-align: center; }

a.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px; }

/*--------------------------------------------------------------
# VC Elements
--------------------------------------------------------------*/
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }
